/* Setting default font for webpage */
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Variables used throughout page */
:root{
    --navback: #262b2f;
    --navhback: aquamarine;
}

/* Specifications for the navbar and Name */
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--navback);
    height: 100px;
}

/* Formatting for the h1 in the navbar */
.header h1{
    position: relative;
    display:inline-flex;
    height: 40%;
    padding-left: 75px;
    font-size: 250%;
    top: 28%;
    background-color: var(--navhback);
    color: var(--navback);
    text-transform: uppercase;
}

/* Specifications for the navigation buttons visuals and behavior */
.header nav{
    display: flex;
    align-items: flex-end;
    font-size: 150%;    
}


.header a{
    text-decoration: underline;
    color: var(--navhback);
    margin: 0 20px 20px 20px;
}

.header a:hover{
    background-color: var(--navhback);
    color: var(--navback);
}

/* Specifications for the area under the navbar */
.subtitle   {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 250px;
    background-image: url("https://images.pexels.com/photos/245250/pexels-photo-245250.jpeg?cs=srgb&dl=pexels-vedanti-245250.jpg&fm=jpg");
}

.subtitle h2{
    display: flex;
    position: relative;
    bottom: 20px;
    right: 5%;
    font-size: 175%;
    background-color: var(--navhback);
    padding: 0 20px 0 20px;
}

/* Specificatiosn for the areas containing the different sections of information on the page */
.container{
    display: flex;
    margin-bottom: 15px;
}

.container .left{
    display: flex;
    justify-content: right;
    width: 20%;
    padding-right: 10px;
}

.left h2{
    font-size: 175%;
    text-align: right;
}

.container .divider{
    width: 0.2%;
    background-color: black;
    border-radius: 3px;
}

.container .right{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 79.8%;
    padding-left: 15px;
}


.right #daniel-vidal-image{
    width: 20%;
    height: auto;
    margin: 0 auto 0 auto;
}

.right p{
    display: flex;
    width: 77%;
    align-items: flex-end;
}


/* Visual specifications for large card */
.right .large-card{
    display: flex;
    margin-bottom:  15px;
    border: 5px;
    border-style: solid;
    border-color: var(--navhback);
}

/* Size and brightness of large-card images */
.right .large-card img{
    width: 100%;
    margin: auto;
    padding: 0px;
    filter: brightness(50%);
    border-color: var(--navhback);
}

/* Behavior for when large-card image is hovered */
.right .large-card img:hover{
    filter: brightness(100%);

}

/* Banner for horiseon card */
.right .large-card .large-banner{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: justify;
    background-color: var(--navhback);
    color: var(--navback);
    margin: 25% 0 0 -1px;
}

.right h3{
    font-size: 140%
}

.right p{
    line-height: 150%;
}

/* Visual specifications for small-cards */
.right .small-card{
    display: flex;
    width: 49.5%;
    border: 5px;
    border-style: solid;
    border-color: var(--navhback);
    margin: auto 0 15px 0
}

/* Size and brightness of small-card images */
.right .small-card img{
    margin: auto;
    width: 100%;
    padding: 0px;
    filter: brightness(50%);
}

/* Behavior for when small-card image is hovered */
.right .small-card img:hover{
    filter: brightness(100%);

}

.right .small-card .small-banner{
    width: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--navhback);
    color: var(--navback);
    margin: 12% 0 0 -1px;
}

/* Contact us formatting */
.right ul{
    display: flex;

}

#contact a{
    color: blue;
    text-decoration-color: var(--navhback);
}

#contact{
    display: flex;
    min-width: 25%;
    font-size: 110%;
    padding-right: 5%;
    text-decoration: underline;
    text-decoration-color: var(--navhback);
}

/* Resumé formatting */
.right iframe{
    width: 100%;
}

#resume{
    height: 550px;
}


/* Changes the display for tablets */
@media screen and (max-width: 992px){
    .header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 60%;
        text-align: center;
    }
    .header nav{
        flex-wrap: wrap;
    }
    .header nav a{
        display: flex;
        width: 25%;
    }
    
}

/* Changes the display for phone screens */
@media screen and (max-width: 768px){

    
    .right .small-card{
        width: 96.8%;
        flex-direction: column;
    }
    .right .large-card{
        width: 96.8%;
    }
    
    #contact{
        flex-direction: column;
    }
    .header{
        display: flex;
        flex-direction: column;
        height: 60%;
        text-align: center;
    }

    .header nav{
        flex-direction: column;
        align-items: center;
    }
}