/* Setting default font for webpage */
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Variables used throughout page */
:root{
    --navback: #262b2f;
    --navhback: aquamarine;
}

/* Specifications for the navbar and Name */
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--navback);
    height: 100px;
}

/* Formatting for the h1 in the navbar */
.header h1{
    position: relative;
    display:inline-flex;
    height: 40%;
    padding-left: 75px;
    font-size: 250%;
    top: 30%;
    background-color: var(--navhback);
    color: var(--navback);
    text-transform: uppercase;
}

/* Specifications for the navigation buttons visuals and behavior */
.header nav{
    display: flex;
    align-items: flex-end;
    font-size: 150%;    
}


.header a{
    text-decoration: underline;
    color: var(--navhback);
    margin: 0 30px 10px 30px;
}

.header a:hover{
    background-color: var(--navhback);
    color: var(--navback);
}

/* Specifications for the area under the navbar */
.subtitle   {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 250px;
    background-image: url("https://images.pexels.com/photos/245250/pexels-photo-245250.jpeg?cs=srgb&dl=pexels-vedanti-245250.jpg&fm=jpg");
}

.subtitle h2{
    display: flex;
    position: relative;
    bottom: 20px;
    right: 5%;
    font-size: 175%;
    background-color: var(--navhback);
    padding: 0 20px 0 20px;
}

/* Specificatiosn for the areas containing the different sections of information on the page */
.container{
    display: flex;
}

.container .left{
    display: flex;
    justify-content: right;
    width: 20%;
    padding-right: 10px;
}

.left h2{
    font-size: 175%;
    text-align: right;
}

.container .divider{
    width: 0.2%;
    background-color: black;
    border-radius: 3px;
}

.container .right{
    width: 79.8%;
    padding-left: 15px;
}